<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sharpinfo.sir.gestfly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".action.user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".action.menu.MenuTechnicienActivity"
            android:label="@string/welcome" />
        <activity
            android:name=".action.projet.ProjetListActivity"
            android:label="@string/title_activity_projet_list"
            android:parentActivityName=".action.menu.MenuTechnicienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.tache.TacheListActivity"
            android:label="@string/title_activity_tache_list"
            android:parentActivityName=".action.menu.MenuTechnicienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.conge.CongeListActivity"
            android:label="@string/title_activity_conge_list"
            android:parentActivityName=".action.menu.MenuTechnicienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.salaire.SalaireListActivity"
            android:label="@string/title_activity_salaire_list"
            android:parentActivityName=".action.menu.MenuTechnicienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.salaire.DemandeAvanceActivity"
            android:label="@string/demande_d_avance_sur_salaire"
            android:parentActivityName=".action.salaire.SalaireListActivity" />
        <activity
            android:name=".action.salaire.DemandeAugmentationActivity"
            android:label="@string/demande_d_augmentation_de_salaire"
            android:parentActivityName=".action.salaire.SalaireListActivity" />
        <activity android:name=".TestUploadFilesActivity" />
        <activity
            android:name=".action.rapport.RapportListActivity"
            android:label="@string/title_activity_rapport_list"
            android:parentActivityName=".action.menu.MenuTechnicienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".action.rapport.RapportContentActivity"
            android:label="Mes rapports"
            android:parentActivityName=".action.rapport.RapportListActivity">

        </activity>
        <activity
            android:name=".action.rapport.CreerRapportActivity"
            android:label="Réaliser un rapport"
            android:parentActivityName=".action.rapport.RapportListActivity">

        </activity>
        <activity
            android:name=".action.conge.CreateCongeActivity"
            android:label="Demander un congé"
            android:parentActivityName=".action.conge.CongeListActivity">

        </activity>
    </application>

</manifest>